body{
    font-family: 'Poppins', sans-serif;
}

.far{
    background-color: #5243c250;
    border-radius: 50%
}

.highlighted{
background: #3F87F5;
border-radius: 26px;
color: white;
box-shadow: 0px 42px 15px rgba(63, 135, 245, 0.25);
}

.heilighted-package-button-bg{
    background-color: white;
    border-radius: 24px;
}

.badge-position{
    top: 0;
    right: 18px;
}


.slider-image{
    height: 584px;
    width: auto;
    object-fit: cover;
    object-position: center;
}
