body{
    font-family: 'Poppins', sans-serif;
}

.far{
    background-color: #5243c250;
    border-radius: 50%
}

.custom-shadow-radious-highlighted{
border-radius: 26px;
box-shadow: 0px 42px 15px rgba(63, 135, 245, 0.25);
}

.custom-shadow-radious-contact{
    border-radius: 26px;
    box-shadow: 0px 42px 15px gainsboro;
    }


.badge-position{
    top: 0;
    right: 18px;
}


.slider-image{
    height: 584px;
    width: auto;
    object-fit: cover;
    object-position: center;
}
